<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:insert="~{supplier/supplier_base :: parent(link, script)}"></th:block>
</head>
<body>
    <div
    data-th-insert="~{supplier/supplier_navbar :: supplier-navbar}">
    </div>

    
    <!-- <script data-th-src="@{'/js/view-school.js'}" ></script> -->

    <!-- <script data-th-src="@{'/js/view-supplier.js'}" ></script> -->
</body>
</html>